.GridContainer{
	display: grid;
	font-family: sans-serif, "consolas";
	grid-template-columns: repeat(4, 250px);
	gap: 10px;
	max-width: 800px;
	margin: auto; 
	padding: 20px;
}

.GridItem{
	font-family: sans-serif, "consolas";
	font-style: normal;
  font-weight: light;
  font-size: 24px;
  color: #ffffff;
  text-align: left;
}

.GridItem button{
	padding: 15px;
  font-size: 16px;
  background-color: #4CAF50; /* Green background */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.GridContainer button:hover {
	background-color: #8b11cc;
}
